# .env example file

# Database settings
POSTGRES_DB=maos_a_obra_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password
DATABASE_URL="postgresql+asyncpg://user:password@db:5432/maos_a_obra_db"

# FastAPI settings
# No specific FastAPI settings yet, but can be added here in the future
